Options +FollowSymLinks

# Apache modrewrite özelliğini etkinleştirelim
RewriteEngine On

# Yeniden yazma işleminin yapılacağı ana dizini belirtelim
RewriteBase /

# Ana sayfayı tekrar tekrar yönlendirmemek için bypass ediyoruz
DirectoryIndex 		index.php?page=index

# Varolan dosyaları gözardı edelim
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# Geri kalan tüm istekleri ana sayfaya yönlendirelim
RewriteRule ^(.*)$ index.php [QSA]
